@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-pretty;
  }

  html {
    @apply antialiased;
  }

  body {
    @apply font-sans text-base font-medium bg-base-dark text-base-light;
  } 
}
